* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.logo img {
    padding-left: 50px;
    width: 160px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    column-gap: 70px;
    padding-left: 80px;
}

.navbar p {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.navbar a {
    color: black;
    font-size: 16px;
}

.icon {
    display: flex;
    column-gap: 40px;
    padding-left: 80px;
    justify-content: space-evenly;
}

.icon img {
    width: 20px;
    height: 18px;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}

.relative img {
    width: 100%;
    /* height: 560px; */
}

div.absolute {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 225px;
    right: 80px;
    width: 480px;
    height: 300px;
    border: 25px solid rgb(255, 236, 212);
    background-color: rgb(255, 236, 212);
    padding: 5px;
}

.absolute h1 {
    color: rgb(137, 99, 48);
    padding-top: 20px;
    font-size: 44px;
    padding-bottom: 10px;
}

.absolute button {
    font-size: 12px;
    color: white;
    width: 150px;
    background-color: rgb(137, 99, 48);
    height: 50px;
    border: none;
}

@media only screen and (max-width: 500px) {
    .heading {
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        width: 120px;
    }

    .navbar {
        display: none;
        flex-direction: row;
        align-items: center;
        padding-left: 0px;
    }

    .navbar p {
        display: block;
        padding-left: 0px;
    }

    .icon {
        display: none;
    }

    .checkbtn {
        display: block;
        padding-right: 60px;
    }

    .relative img {
        width: 100%;
        height: 500px;
    }

    div.absolute {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 190px;
        left: 160px;
        width: 260px;
        height: 220px;
        border: 25px solid rgb(255, 236, 212);
        background-color: rgb(255, 236, 212);
        padding: 5px;
    }

    .absolute p {
        font-size: 12px;
        width: 200px;
    }

    .absolute h1 {
        color: rgb(137, 99, 48);
        padding-top: 20px;
        font-size: 24px;
        padding-bottom: 10px;
    }

    .absolute button {
        font-size: 10px;
        color: white;
        width: 130px;
        background-color: rgb(137, 99, 48);
        height: 30px;
        border: none;
    }
}

/* varma code start */
.funiro_furniture_head p {
    color: #616161;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.funiro_furniture_head h1 {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-align: center;
}

.funiro_furniture_images {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 10px;
}

.funiro_furniture_images1 {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
    row-gap: 10px;
}

.funiro_furniture_images3 {
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    row-gap: 10px;
}

.img_block11 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.img_block12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    column-gap: 10px;
}

.fimage_1 img {
    width: 82px;
    height: 370px;
}

.fimage_2 img {
    width: 390px;
    height: 310px;
    margin-top: 60px;
}

.fimage_3 img,
.fimage_3 {
    width: 160px;
    height: 310px;
}

.fimage_4 img,
.fimage_4 {
    width: 310px;
    height: 250px;
}

.fimage_5 img {
    width: 270px;
    height: 370px;
    margin-top: 160px;
}

.fimage_6 img {
    width: 260px;
    height: 300px;
    margin-top: 115px;
}

.fimage_7 img {
    width: 210px;
    height: 350px;
    margin-top: 65px;
}

.fimage_8 img,
.fimage_8 {
    width: 170px;
    height: 240px;
}

.fimage_9 img,
.fimage_9 {
    width: 240px;
    height: 190px;
    margin-right: 60px;
}

.funiro_furniture {
    position: static;
}

.funiro_furniture_images {
    position: relative;
    top: -25px;
    bottom: 0px;
}

.horizontal_line {
    border-top: 1px solid #9F9F9F;
}

.funiro_footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.8fr 1.3fr;
    margin: 40px 0px 0px 110px;
}

.logo_footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    line-height: 36px;
}

.logo_footer a:hover {
    text-decoration: none;
    color: black;
    font-weight: 700;
    line-height: 36px;
    text-decoration: 2px underline solid #b88e2f;
}

.logo_footer p {
    color: #9F9F9F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 45px 0px;
}

.links_helps1 {
    text-decoration: none;
    color: #9F9F9F;
    font-size: 18px;
    margin: 0px;
}

.links_helps a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 24px;
}

.links_helps a:hover {
    text-decoration: 2px underline solid #b88e2f;
    color: black;
    font-size: 18px;
    line-height: 24px;
}

.links_helps p,
.mail_bar {
    margin: 40px 0px;
}

.search_ {
    border: none;
    text-decoration: 1px underline solid black;
    height: 25px;
    width: max-content;
}

::placeholder {
    font-size: 15px;
    color: #B0B0B0;
}

.newsletter button {
    border: none;
    background-color: white;
    text-decoration: 1px underline solid black;
}

.newsletter button:hover {
    border: none;
    background-color: white;
    cursor: pointer;
}

.all_rights {
    border-top: 1px solid #9F9F9F;
    margin: 0px 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.all_rights p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 10px;
}

@media (max-width:430px) {
    .funiro_furniture_head p {
        color: #616161;
        font-weight: 600;
        font-size: small;
        line-height: 30px;
        text-align: center;
    }

    .funiro_furniture_head h1 {
        color: #3A3A3A;
        font-weight: 700;
        font-size: x-large;
        line-height: 48px;
        text-align: center;
        text-align: center;
    }

    .funiro_furniture_images {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
        margin-bottom: 20px;
    }

    .funiro_furniture_images1 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .funiro_furniture_images3 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .img_block11 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .img_block12 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        column-gap: 10px;
    }

    .funiro_furniture {
        position: static;
    }

    .funiro_furniture_images {
        position: relative;
        top: 0px;
        bottom: 0px;
    }

    .funiro_footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 40px 0px 0px 10px;
    }

    .logo_footer a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        line-height: 36px;
    }

    .logo_footer a:hover {
        text-decoration: none;
        color: black;
        font-weight: 700;
        line-height: 36px;
        text-decoration: 2px underline solid #b88e2f;
    }

    .logo_footer p {
        color: #9F9F9F;
        font-weight: 400;
        font-size: small;
        line-height: 15px;
        margin: 25px 0px;
    }

    .links_helps1 {
        text-decoration: none;
        color: #9F9F9F;
        font-size: small;
        margin: 0px;
    }

    .links_helps a {
        text-decoration: none;
        color: black;
        font-size: small;
        line-height: 24px;
    }

    .links_helps a:hover {
        text-decoration: 2px underline solid #b88e2f;
        color: black;
        font-size: small;
        line-height: 24px;
    }

    .links_helps p,
    .mail_bar {
        margin: 10px 0px;
    }

    .all_rights {
        border-top: 1px solid #9F9F9F;
        margin: 0px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .all_rights p {
        font-weight: 400;
        font-size: small;
        line-height: 24px;
        padding: 10px;
    }
}

@media (max-width:320px) {
    .fimage_1 img {
        width: 40px;
        height: 300px;
    }

    .fimage_2 img {
        width: 270px;
        height: 250px;
        margin-top: 50px;
    }

    .fimage_3 img,
    .fimage_3 {
        width: 100px;
        height: 250px;
    }

    .fimage_4 img,
    .fimage_4 {
        width: 210px;
        height: 250px;
    }

    .fimage_5 {
        display: flex;
        justify-content: center;
    }

    .fimage_5 img {
        width: 200px;
        height: 300px;
        margin-top: 20px;
    }

    .fimage_6 img {
        width: 180px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_7 img {
        width: 130px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_8 img,
    .fimage_8 {
        width: 100px;
        height: 250px;
    }

    .fimage_9 img,
    .fimage_9 {
        width: 210px;
        height: 190px;
        margin-right: 0px;
    }
}

@media (min-width:321px) and (max-width:376px) {
    .fimage_1 img {
        width: 67px;
        height: 300px;
    }

    .fimage_2 img {
        width: 297px;
        height: 250px;
        margin-top: 50px;
    }

    .fimage_3 img,
    .fimage_3 {
        width: 127px;
        height: 250px;
    }

    .fimage_4 img,
    .fimage_4 {
        width: 237px;
        height: 250px;
    }

    .fimage_5 {
        display: flex;
        justify-content: center;
    }

    .fimage_5 img {
        width: 227px;
        height: 300px;
        margin-top: 20px;
    }

    .fimage_6 img {
        width: 207px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_7 img {
        width: 157px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_8 img,
    .fimage_8 {
        width: 127px;
        height: 250px;
    }

    .fimage_9 img,
    .fimage_9 {
        width: 237px;
        height: 190px;
        margin-right: 0px;
    }
}

@media (min-width:377px) and (max-width:430px) {
    .fimage_1 img {
        width: 95px;
        height: 300px;
    }

    .fimage_2 img {
        width: 325px;
        height: 250px;
        margin-top: 50px;
    }

    .fimage_3 img,
    .fimage_3 {
        width: 155px;
        height: 250px;
    }

    .fimage_4 img,
    .fimage_4 {
        width: 265px;
        height: 250px;
    }

    .fimage_5 {
        display: flex;
        justify-content: center;
    }

    .fimage_5 img {
        width: 255px;
        height: 300px;
        margin-top: 20px;
    }

    .fimage_6 img {
        width: 235px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_7 img {
        width: 185px;
        height: 250px;
        margin-top: 20px;
    }

    .fimage_8 img,
    .fimage_8 {
        width: 155px;
        height: 250px;
    }

    .fimage_9 img,
    .fimage_9 {
        width: 265px;
        height: 190px;
        margin-right: 0px;
    }
}

@media (min-width:431px) and (max-width:900px) {
    .funiro_furniture_head p {
        color: #616161;
        font-weight: 600;
        font-size: medium;
        line-height: 30px;
        text-align: center;
    }

    .funiro_furniture_head h1 {
        color: #3A3A3A;
        font-weight: 700;
        font-size: xx-large;
        line-height: 48px;
        text-align: center;
        text-align: center;
    }

    .funiro_furniture_images {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        column-gap: 10px;
    }

    .funiro_furniture_images1 {
        display: grid;
        grid-template-rows: 0.7fr 0.3fr;
        row-gap: 10px;
    }

    .funiro_furniture_images3 {
        display: grid;
        grid-template-rows: 0.3fr 0.7fr;
        row-gap: 10px;
    }

    .img_block11 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        column-gap: 10px;
    }

    .img_block12 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: max-content;
        column-gap: 10px;
    }

    .fimage_1 img {
        width: 40px;
        height: 270px;
    }

    .fimage_2 img {
        width: 210px;
        height: 190px;
        margin-top: 80px;
    }

    .fimage_3 img,
    .fimage_3 {
        width: 80px;
        height: 220px;
    }

    .fimage_4 img,
    .fimage_4 {
        width: 170px;
        height: 190px;
    }

    .fimage_5 {
        display: flex;
        justify-content: center;
    }

    .fimage_5 img {
        width: 190px;
        height: 270px;
        margin-top: 150px;
    }

    .fimage_6 img {
        width: 170px;
        height: 220px;
        margin-top: 110px;
    }

    .fimage_7 img {
        width: 120px;
        height: 250px;
        margin-top: 80px;
    }

    .fimage_8 img,
    .fimage_8 {
        width: 100px;
        height: 200px;
    }

    .fimage_9 img,
    .fimage_9 {
        width: 160px;
        height: 150px;
        margin-right: 0px;
    }

    .funiro_footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 40px 0px 0px 10px;
    }

    .logo_footer a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        line-height: 36px;
    }

    .logo_footer a:hover {
        text-decoration: none;
        color: black;
        font-weight: 700;
        line-height: 36px;
        text-decoration: 2px underline solid #b88e2f;
    }

    .logo_footer p {
        color: #9F9F9F;
        font-weight: 400;
        font-size: small;
        line-height: 15px;
        margin: 25px 0px;
    }

    .links_helps1 {
        text-decoration: none;
        color: #9F9F9F;
        font-size: small;
        margin: 0px;
    }

    .links_helps a {
        text-decoration: none;
        color: black;
        font-size: small;
        line-height: 24px;
    }

    .links_helps a:hover {
        text-decoration: 2px underline solid #b88e2f;
        color: black;
        font-size: small;
        line-height: 24px;
    }

    .links_helps p,
    .mail_bar {
        margin: 10px 0px;
    }

    .all_rights {
        border-top: 1px solid #9F9F9F;
        margin: 0px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .all_rights p {
        font-weight: 400;
        font-size: small;
        line-height: 24px;
        padding: 10px;
    }
}

/* varma code end */