*{
    text-decoration: none;
    margin: 0;
    /* padding: 0; */
    font-family:  sans-serif, Arial, Helvetica,;

}
.heading{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 6fr 2fr;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
}
img{
    padding-left: 50px;
}
.navbar2{
    display: flex;
    padding-left: 40px;
    justify-content: space-evenly;
    /* text-align: center; */
}
.navbar2 a{
    color: black;
    font-size: 12.5px;
}
.sign{
    display: flex;
    align-items: center;
    column-gap: 10px;   
}
.navbar3 a{
    color: black;
    font-size: 12px;
}
.heading button{
    width: 80px;
    font-size: 12px;
    height: 30px;
    color: white;
    border: none;
    background-color: #295FB7;
}
.hero img{
    width: 1230px;
    height: 664px;
    padding-left: 0px;
    position: relative;
} 
.heroimg img{
    position: absolute;
    top: 440px;
    left: 910px;
    width: 640px;
    height: 590px;
    transform: translate(-50%,-50%);
    /* background-blend-mode:screen; */
    
}
.cir1{
    background-color: #ECF4FD;
}
.cir2{
    background-color: #ECF4FD;
}
.cir3{
    background-color: #ECF4FD;
}
.unlock h1{
    position: absolute;
    top: 240px;
    left: 380px;
    width:512px;
    color: white;
    font-size: 44px;
    transform: translate(-50%,-50%);
}
.browse p{
    position: absolute;
    top: 360px;
    left: 370px;
    color: white;
    width:470px;
    font-size: 18px;
    transform: translate(-50%,-50%);
}

.homesearch{
        position: absolute;
        top: 540px;
        left: 370px;
        color: white;
        font-size: 15px;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
        padding: 15px 10px 8px 20px;
        column-gap: 33px;
        margin-left: 100px;
}
 .location p{
    padding-top: 10px;
    font-size: 13px;
} 
.locicon img{
    padding-top: 30px;
    width: 10px;
    height: 10px;
}
.line img{
    padding-top: 15px;
    width: 1px;
    height: 35px;
}
.price p{
    padding-top: 10px;
    font-size: 13px;
} 
.priceicon img{
    padding-top: 30px;
    width: 10px;
    height: 10px;
}
.line img{
    padding-top: 15px;
    width: 1px;
    height: 35px;
}
.type{
    outline: none;
}
.selectbox{
    border: none;
    padding-top: 10px;
}
.typeicon img{
    padding-top: 23px;
    width: 30px;
    height: 15px;
}
.line img{
    padding-top: 15px;
    width: 1px;
    height: 35px;
}
.home img{
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.cir1 button{
    position: absolute;
    top: 650px;
    left: 170px;
    border:none;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    transform: translate(-50%,-50%);
    align-items: center;
    
}
.cir1 p{
    color: black;
    padding-top: 20px;
    font-size: 10px;
    font-weight: bold;
}
.cir1 img{
    position: absolute;
    top: 630px;
    left: 160px;
    border:none;
    width: 20px;
    padding-bottom: 25px;
    height: 20px;
}
.cir2 button{
    position: absolute;
    top: 650px;
    left: 260px;
    border:none;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    transform: translate(-50%,-50%);
    display: flex;
}
.cir2 p{
    color: black;
    padding-top: 30px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 18px;
}
.cir2 img{
    position: absolute;
    top: 630px;
    left: 250px;
    border:none;
    color: black;
    width: 20px;
    padding-bottom: 25px;
    height: 20px;
}
.cir3 button{
    position: absolute;
    top: 652px;
    left: 350px;
    border:none;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}
.cir3 p{
    color: black;
    padding-top: 19px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 18px;
}
.cir3 img{
    position: absolute;
    top: 630px;
    left: 340px;
    border:none;
    width: 20px;
    padding-bottom: 25px;
    height: 20px;
}
.service{
    text-align: center;
    padding:10px 0px 20px 0px;
    background-color: #ECF4FD;
}
.service h2{
    color: #295FB7;
    font-size: 37px;
    font-weight: bolder;
}
.service p{
    font-size: 13px;
    padding-top: 10px;
}
.service1{
    background-color: #ECF4FD;
    ;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}
.service1 :hover p{
    background-color: #295FB7;
    color:white;
}
.service1 :hover h3{
    background-color: #295FB7;
    color:white;
}
.service1 :hover button{
    background-color: #295FB7;
    color:white;
    background-color: white;
    
}
/* .service1 :hover img{
    filter:brightness(0);
} */

.insureance{
    text-align: center;
    width: 330px;
    height: 280px;
    background-color: white;
}
.insureance:hover{
    background-color: #295FB7;
    color: white;
}
.insureance button:hover{
    background-color: white;
}
.insureance h3:hover{
    color: white;
}

.insureance button{
    width:60px;
    height: 60px;
    border-radius: 50px;
    border:none;
    align-items: center;
    background-color: #295FB7;
    filter: invert(0);

}
.insureance h3{
    padding-top: 20px;
    color:black;
}
.insureance p{
    padding-top: 30px;
    color:black;
    font-size: 14px;
}
.service:hover img{
    filter: brightness(0);
}
.service1 img{
    padding-left: 7px;
    width: 35px;
    /* color: white; */
}

.insureance img{
    filter: brightness(0) invert(1);
}
.insureance:hover img{
    filter: brightness(0);
}

.payment button{
    width:70px;
    height: 70px;
    border-radius: 50px;
    border:none;
    align-items: center;
    background-color: #295FB7;
}
.payment{
    text-align: center;
    width: 330px;
    height: 280px;
    background-color: white;
}
.payment h3{
    padding-top: 20px;
    color:black;
}
.payment p{
    padding-top: 20px;
    color:black;
    font-size: 14px;
}

.payment:hover {
    background-color: #295FB7;
    color: white;
}
.payment button:hover{
    background-color: white;
}
.payment h3:hover{
    color: white;
}
.payment:hover img{
    filter: brightness(0);
}
.quick button{
    width:70px;
    height: 70px;
    border-radius: 50px;
    border:none;
    align-items: center;
    background-color: #295FB7;
}
.quick{
    text-align: center;
    width: 330px;
    height: 280px;
    background-color: white;
}
.quick h3{
    padding-top: 20px;
    color:black;
}
.quick p{
    padding-top: 20px;
    color:black;
    font-size: 14px;
}
.quick:hover {
    background-color: #295FB7;
    color: white;
}
.quick button:hover{
    background-color: white;
}
.quick h3:hover{
    color: white;
}
.quick:hover img{
    filter: brightness(0);
}
.sale{
    text-align: center;
    padding:90px 0px 20px 0px;
}
.sale h2{
    color: #295FB7;
    font-size: 37px;
    font-weight: bolder;
}
.sale p{
    font-size: 14px;
    padding-top: 10px;
}
.collection{
    display: flex;
    padding-left: 150px;
    column-gap: 17px;
    padding-bottom: 40px;
   
}
.collection1{
    padding
    Width: 320px;
    height: 450px;
    background: #ECF4FD;
    font-size:12px;
}
.collection1 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection1 h2{
    padding-left: 10px;
}
.collection1 p1{
    color: #FFAC33;
    padding-left: 10px;
    font-size: 16px;
}
.collection1 img{
    width: 320px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.section img{
    width: 20px;
    height: 20px;
    bright
}
.collection2{
    padding
    width: 320px;
    height: 450px;
    font-size:12px;
    background: #ECF4FD;
}
 .collection :hover{
    background-color: #295FB7;
    color: white;
}
.section:hover img{
    filter: invert(1);
}
.collection0 :hover{
    background-color: #295FB7;
    color: white;
}
/* .collection0:hover img{
    filter: invert(1); */
}
.collection2 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection2 h2{
    padding-left: 10px;
}
.collection2 p1{
    color: #FFAC33;
    padding-left: 10px;
    font-size: 16px;
}
.collection2 p{
    padding-top: 10px;
}
.collection2 img{
    width: 320px;
    color: white;
    height: 237px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.collection3{
    font-size:12px;
    width: 320px;
    height: 450px;
    background: #ECF4FD;
}
.collection3 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection3 h2{
    padding-left: 10px;
}
.collection3 p1{
    color: #FFAC33;
    padding-left: 10px;
    font-size: 16px;
}
.collection3 img{
    width: 320px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.collection0{
    display: flex;
    padding-left: 150px;
    column-gap: 17px;
    padding-bottom: 40px;

}
.collection4{
    font-size:12px;
    width: 320px;
    height: 450px;
    background: #ECF4FD;

}
.collection4 img{
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.collection4 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection4 h2{
    padding-left: 10px;
}
.collection4 p1{
    color: #FFAC33;
    padding-left: 10px;
    font-size: 16px;
}
.collection5{
    font-size:12px;
    width: 320px;
    height: 450px;
    background: #ECF4FD;

}
.collection5 img{
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.collection5 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection5 h2{
    padding-left: 10px;
}
.collection5 p1{
    color: #FFAC33;
    padding-left: 10px;
    font-size: 16px;
}
.collection6{
    font-size:12px;
    width: 320px;
    height: 450px;
    background: #ECF4FD;

}
.collection6 img{
    width: 310px;
    padding-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.collection6 p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.collection6 h2{
    padding-left: 10px;
}
.collection6 p1{
    font-size: 16px;
    color: #FFAC33;
    padding-left: 10px;
}
.section{
    column-gap: 15px;
    display: flex;
    padding-top: 28px;
   justify-content: space-evenly;
}
.sec1 img{
    width: 20px;
    height:20px;
}
.sec2 img{
    width: 20px;
    height:20px;
}
.sec3 img{
    width: 20px;
    height:20px;
}
.section p{
    font-size: 13px;
}
.more{
    font-size: 12px;
    text-align: center;
    color: #295FB7;
    padding-bottom: 100px;
}
.feature{
    display: flex;
   align-items: center;
   padding-top: 100px;
   /* background-color:#ECF4FD ; */
}
.feature h1{
   padding-left: 160px;
   color: #295FB7;
   font-size: 45px;
}
.feature p{
    padding-left: 730px;
}
.feature button{
    width: 120px;
    height: 40px;
    background-color: #295FB7;
    color: white;
    border: none;
}
.bg{
    background-color: #ECF4FD;
}
.sofa{
    /* background-color: #ECF4FD; */
    justify-content: center;
    display: flex;
    padding: 0px;
    padding-bottom: 20px;
   padding-top: 30px;
    flex-direction: row;
}
.chair img{
    width:350;
    height: 420px;
}
.sofa2 img{
    width:350;
    height: 420px;
}
.sofa1 img{
    width:350;
    height: 420px;
}
.sofa1{
    position: relative;
}
.absolute{
    position: absolute;
    top: 120px;
    left: 120px;
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0,0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.absolute:hover{
    opacity: 1;
}
.absolute > *{
    transform: translateY(25px);
    transition:transform 0.6s;
}
.absolute :hover > *{
    transform: translateY(0px);
    /* transition:transform 0.6s; */
}
.absolute button{
    width: 70px;
    height:30px;
    background-color: #295FB7;
    color: white;
}
.absolute p{
    font-size: 13px;
}
.chair{
    position: relative;
}
.absolute1{
    position: absolute;
    top: 120px;
    left: 120px;
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0,0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.absolute1:hover{
    opacity: 1;
}
.absolute1 > *{
    transform: translateY(25px);
    transition:transform 0.6s;
}
.absolute1 :hover > *{
    transform: translateY(0px);
    /* transition:transform 0.6s; */
}
.absolute1 button{
    width: 70px;
    height:30px;
    background-color: #295FB7;
    color: white;
}
.absolute1 p{
    font-size: 13px;
}
.sofa2{
    position: relative;
}
.absolute2{
    position: absolute;
    top: 120px;
    left: 120px;
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0,0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.absolute2:hover{
    opacity: 1;
}
.absolute2 > *{
    transform: translateY(25px);
    transition:transform 0.6s;
}
.absolute2 :hover > *{
    transform: translateY(0px);
    /* transition:transform 0.6s; */
}
.absolute2 button{
    width: 70px;
    height:30px;
    background-color: #295FB7;
    color: white;
}
.absolute2 p{
    font-size: 13px;
}
.arrow{
    text-align: center;
    padding-bottom: 100px;
}
.arrow button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #295FB7;
    border: none;
}
.arrow p{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.img img{
    width: 1230px;
    height: 600px;
    padding-left: 0px;
    filter: brightness(0.5);
}
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
} 
div.logos{
    position: absolute;
    top:315px;
    left: 65px;
}
.logos2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
} 
div.logos2{
    position: absolute;
    top:475px;
    left: 65px;
}
.fx{
    display: flex;
    justify-content: space-evenly;
}
.question{
    position: relative;
}
div.fx{
    position: absolute;
    top: 110px;
    left: 115px;
    color: white;
}
.qus{
    margin-left: 150px;
    color:#295FB7;
    width: 350px;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.qus h1{
    text-align: center;
}
.help h1{
    font-size: 40px;
    /* padding: 30px 20px 40px 20px; */
}
.help p{
    font-size: 12px;
    padding-left: 40px;
}
/* .email{
    border: none;
    padding: 10px 60px 20px 20px;
    border-style: none;
    outline: none;
    /* width: 340px;
    height: 50px; 
    margin-top: 30px;
    color: lightslategrey;
    background-color:  rgb(215, 212, 212);

    border:none;
} */
 .contact{
    height:50px;
    width:320px;
    padding-left: 20px;
    margin-top: 30px;
    background-color: rgb(215, 212, 212) ;
    border: none;
    outline: none;
 }
 .contact-inputs{
    height:140px;
    padding-top: 20px;
    padding-left: 20px;
    width:320px;
    margin-top: 30px;
    background-color: rgb(215, 212, 212) ;
    border: none;
    outline: none;
 }
/* .enter {
    border: none;
    padding: 30px 60px 80px 20px;
    outline: none;
    /* width:340px;
    height: 160px; 
    margin-top: 20px;
    color: lightslategrey;
    background-color: rgb(215, 212, 212);
    border:none;
} */
.send button{
    width:340px;
    height: 50px;
    background-color: #295FB7;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:none;
}
.email p{
    padding-right: 110px;
}
.enter p{
    padding-right: 110px;
    padding-bottom: 90px;
}
.footer{
    display: flex;
    padding: 50px 0px 30px 0px;
}
.footer1 a{
    font-size: 12px;
    color: black;
}
.footer1{
    padding-left: 600px;
    display: flex;
    column-gap: 70px;
    color: black;
}
.footer0{
    padding-left: 1px;
}
.copy p{
    text-align: center;
    font-size: 14px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 500px)
 {
    .heading {
      flex-direction: column;
    }
    .navbar {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 10px;
      }
      .navbar1 img{
        padding-left: 30px;
        width: 130px;
        height: 40px;
      }
      .navbar2 {
        flex-direction: row;
        column-gap: 10px;
        padding-left: 20px;
        
      }
      .navbar2 a {
        font-size: 10px;
        margin-bottom: 10px;
      }
      .sign {
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        padding-left: 20px;
      
      }
      .heading button {
        width: 60px;
        font-size: 9px;
        height: 20px;
      }
      .hero img {
        width: 100%;
        height: 500px;
      }
      .unlock h1 {
        font-size: 29px;
        width: 350px;
        top: 175px;
        left: 50%;
        text-align: center;
      }
      .browse p {
        font-size: 15px;
        top: 290px;
        left: 50%;
        width: 350px;
      }
      .homesearch {
        font-size: 14px;
        top: 430px;
        left: 60px;
        width:350px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
        padding: 5px 5px 5px 10px;
        column-gap: 10px;
        row-gap: 30px;
        margin-left: 170px;
      }
      .location p {
        font-size: 8px;
      }
      .locicon img {
        width: 5px;
        height: 5px;
      }
      
      .line img {
        width: 0px;
        height: 16px;
      }
      
      .price p {
        font-size: 12px;
      }
      
      .priceicon img {
        width: 5px;
        height: 5px;

      }
      .checkbox{
        font-size: 1px;
      }
      
      .type p {
        font-size: 10px;
      }
      
      .typeicon img {
        width: 20px;
        height: 10px;
      }
      
      .home img {
        width: 20px;
        height: 20px;
      }
      
      .cir1 button {
        width: 60px;
        height: 60px;
        top: 550px;
        left: 120px;
      }
      
      .cir1 p {
        font-size: 10px;
      }
      
      .cir1 img {
        width: 25px;
        height: 25px;
        top: 535px;
        left: 110px;
      }
      
      .cir2 button {
        width: 60px;
        height: 60px;
        top: 550px;
        left: 210px;
      }
      
      .cir2 p {
        font-size: 10px;
        text-align: center;
      }
      
      .cir2 img {
        width: 25px;
        height: 25px;
        top: 530px;
        left: 200px;
      }
      
      .cir3 button {
        width: 60px;
        height: 60px;
        top: 550px;
        left: 300px;
      }
      
      .cir3 p {
        font-size: 10px;
        text-align: center;
      }
      
      .cir3 img {
        width: 25px;
        height: 25px;
        top: 530px;
        left: 290px;
      }
      .service{
        text-align: center;
        padding:10px 0px 20px 0px;
        background-color: #ECF4FD;
    }
    .service h2{
        color: #295FB7;
        font-size: 33px;
        font-weight: bolder;
    }
    .service1{
        background-color: #ECF4FD;
        ;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 70px;
        row-gap: 20px;
        /* margin-bottom: 20px; */
        padding-right: 50px;
    }
    .sale h2{
        font-size: 30px;
    }
    .collection{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        row-gap: 17px;
        padding-left: 25px;
        padding-bottom: 40px;
    }    
    .collection1{
        padding
        Width: 290px;
        height: 400px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection1 img{
        width: 290px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection1 h2{
        padding-left: 10px;
    }
    .collection1 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .collection2{
        padding
        Width: 290px;
        height: 410px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection2 img{
        width: 290px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection2 h2{
        padding-left: 10px;
    }
    .collection2 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .collection3{
        padding
        Width: 290px;
        height: 400px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection3 img{
        width: 310px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection3 h2{
        padding-left: 10px;
    }
    .collection3 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .collection0{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        row-gap: 17px;
        padding-left: 25px;
        padding-bottom: 40px;
    }    
    .collection4{
        padding
        Width: 290px;
        height: 400px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection4 img{
        width: 310px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection4 h2{
        padding-left: 10px;
    }
    .collection4 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .collection5{
        padding
        Width: 290px;
        height: 410px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection5 img{
        width: 310px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection5 h2{
        padding-left: 10px;
    }
    .collection5 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .collection6{
        padding
        Width: 290px;
        height: 400px;
        background: #ECF4FD;
        font-size:12px;
    
    }
    .collection6 img{
        width: 310px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .collection6 h2{
        padding-left: 10px;
    }
    .collection6 p1{
        color: #FFAC33;
        padding-left: 10px;
        font-size: 16px;
    }
    .section img{
        width: 20px;
        height: 20px;
    }
    .more{
        font-size: 16px;
        text-align: center;
        color: #295FB7;
        padding-bottom: 100px;
    }.feature{
        display: flex;
        flex-direction: column;
       align-items: center;
       padding-top: 100px;
    }
    .feature h1{
        padding-left: 25px;
        color: #295FB7;
        font-size: 45px;
     }
     .feature p{
         padding-left: 40px;
    }
    .sofa{
        /* background-color: #ECF4FD; */
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0px;
        padding-bottom: 20px;
       padding-top: 30px;
        flex-direction: column;
    }
    .chair img{
        width:330;
        height: 400px;
    }
    .sofa2 img{
        width:330;
        height: 400px;
    }
    .sofa1 img{
        width:330;
        height: 400px;
    }
    .img img{
        width: 480px
        height: 600px;
        padding-left: 0px;
        filter: brightness(0.5);
    }
    .logos{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    } 
    div.logos{
        position: absolute;
        top:315px;
        left: 65px;
    }
    .logos2{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    } 
    div.logos2{
        position: absolute;
        top:475px;
        left: 65px;
    }
    .img img {
        width: 100%;
        height: 1000px;
        padding-left: 0px;
        filter: brightness(0.5);
      }
    
      .logos {
        display: flex;
        flex-direction: column;
        row-gap: 17px;
      }
    
      div.logos {
        position: absolute;
        top: 254px;
        left: 20px;
      }
    
      .logos2 {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
      }
    
      div.logos2 {
        position: absolute;
        top: 415px;
        left: 20px;
      }
      .help h4{
        font-size: 20px;
      }
    
      .fx {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: space-evenly;
        padding: 20px;
      }
    
      .question {
        position: relative;
      }
    
      div.fx {
        position: absolute;
        top: 50px;
        left: 20px;
        color: white;
      }
    
      .qus {
        margin-left: 20px;
        color: #295FB7;
        width: 320px;height: 360px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
    
      .qus h1 {
        text-align: center;
      }
    
      .help h1 {
        font-size: 30px;
        text-align: center;
        padding-left:50px;
      }
    
      .help p {
        font-size: 14px;
        padding-left: 75px;
      }
    
      .contact {
        height: 40px;
        width: 300px;
        padding-left: 20px;
        margin-top: 40px;
        background-color: rgb(215, 212, 212);
        border: none;
        outline: none;
      }
    
      .contact-inputs {
        height: 100px;
        padding-top: 20px;
        padding-left: 20px;
        width: 300px;
        margin-top: 20px;
        background-color: rgb(215, 212, 212);
        border: none;
        outline: none;
      }
    
      .send button {
        width: 100%;
        height: 40px;
        background-color: #295FB7;
        margin-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
      }
    
      .email p {
        padding-right: 20px;
      }
    
      .enter p {
        padding-right: 20px;
        padding-bottom: 20px;
      }
    
     .footer {
        display: flex;
        padding: 20px 0px 10px 0px;
        align-items: center;
      }
    
      .footer1 a {
        font-size: 11px;
        color: black;
      }
    
      .footer1 {

        padding-left: 20px;
        display: flex;
        column-gap: 20px;
        color: black;
      }
    
      .footer0 {
        padding-left: 1px;
      } 
    
      .copy p {
        text-align: center;
        font-size: 14px;
        padding-bottom: 20px;
      }
    
}
    
