*{
    margin:0;
    padding:0;
    font-family: Arial;
}
.main{
    height: 50px;
    padding:0;
}
.navbar{
    display:grid;
    grid-template-columns:1fr 3fr 1fr; 
    height:30px;
    align-items:center;
    padding-top: 10px;
    padding-left: 10px;
}
.head10 img{
    width:100%;
    height:700px;
    position:relative;
}
.home{
    display: flex;
    justify-content: space-evenly;
}
.signup{
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
.signin{
    border: none;
    color: white;
    background-color:#295FB7 ;
    padding: 10px 20px;
    border-radius: 8px;
}
.header3{
    font-size: 60px;
    position:absolute; 
    color:white;
    transform: translate(-50%,-50%);
    left:35%;
    top:40%;
} 
#header3{
    font-size: 20px;
    color:white;
    position: absolute;
    transform: translate(-50%,-50%);
    left:28%;
    top:70%;
} 
.header0{
    display:flex;
    flex-direction: row;
    font-size: 15px;
    background-color: white;
    color:black;
    position: absolute;
    transform: translate(-50%,-50%);
     left:38%;
    top:98%; 
    padding-left: 20px;
    padding-top:20px;
}
.header5{
    padding-left:20px;
}
.header6{
    padding-left: 35px;
}
.header7{
    padding-left: 30px;
}
.header8{
    padding-left: 30px;
}
.header9{
    padding-left: 110px;
}
.header10{
    padding-left:110px;
}
#city{
    color:#757575;
    padding-bottom: 5p;
}
#property{
    color:#757575;
}
#header50,#header51,#header52{
   padding-left:28px;
   padding-top:21px;
}
#header53{
    padding-left: 50px;
    padding-top:8px;
    padding-right: 30px; 
}
.header9{
    display:flex;
    flex-direction: row;
    position: absolute;
    transform: translate(-50%,-50%);
    left:6%;
    top:120%;
}
#header12{
    position: absolute;
    transform: translate(-50%,-50%);
    top:54%;
    left:59%;
}
.header11{
    position: absolute;
    transform: translate(-50%,-50%);
    top:29%;
    left:59%;
}
.header14{
    position: absolute;
    transform: translate(-50%,-50%);
    left:76%;
    top:29%;
}
#header15{
    position: absolute;
    transform: translate(-50%,-50%);
    top:55%;
    left:76%;
}
.header13{
    padding-left: 10px;
}
.header16{
    padding-left: 10px;
}
.header17{
    position: absolute;
    transform: translate(-50%,-50%);
    left:92%;
    top:30%;
}
#header18{
    position: absolute;
    transform: translate(-50%,-50%);
    left:92%;
    top:57%;
}
.header19{
    font-size: 40px;
    color:#295FB7;
    text-align: center;
}
.header20{
    text-align: center;
    font-size: 30px;
}
.header{
    background-color: #ECF4FD;
}
.header21{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
}
.header22{
    padding-left: 40px;
    padding-top: 40px;
    background-color: white;
  
    
}
.header22:hover,.header25:hover,.header28:hover{
    background-color: #295FB7;
    background-color: #25356A;
    color:white;
}
#header22,#header25,#header28{
    padding-top: 5px;
    padding-left:80px;
}
.header28,.header25{
    background-color: white;
    padding-left: 35px;
    padding-top: 40px;
}
.header23,.header26,.header29{
   text-align: center;
   font-size: 20px;
   padding-top: 15px;
   padding-right:50px ;
}
.header24,.header27,.header30{
    font-size: 15px;
    padding-right: 50px;
    padding-bottom: 60px;
}
.best4:hover,.best6:hover,.best8:hover,.best10:hover,.best12:hover,.best14:hover{
    background-color: #295FB7;
    background-color: #25356A;
    color:white;
}
.best1{
    font-size: 40px;
    color:#295FB7;
    text-align: center;
}
.best2{
    text-align: center;
    font-size: 30px;
}
.best3{
    display:flex;
    justify-content: space-evenly;
    text-align: left;

}
.best4,.best8{
    background-color: #ECF4FD;
}
 .best6{
    background-color: #ECF4FD;
    color:black;
} 
.best5,.best7,.best9{
    padding-left:15px;
    padding-top: 15px;
    padding-right: 15px;
}
#idr{
    font-size: 30px;
    padding-left: 15px;
}
.p{
    font-size: 15px;
    padding-left: 15px;
}
.sell{
    padding-left: 15px;
    color:#FFAC33;
}
.best50{
    display: flex;
    flex-direction:row;
    padding-bottom: 15px;
}
.best51{
    padding-left: 15px;
    padding-top: 10px;
}
.best52{
    padding-left: 80px;
    padding-top: 10px;
}
.best53{
    padding-left:80px;
    padding-top: 10px;
}
.best9{
    display:flex;
    justify-content: space-evenly;
    text-align: left;
}
.best10,.best12,.best14{
    background-color: #ECF4FD;
}
.best11,.best13,.best15{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.feature02{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 140px;
    color:#295FB7;
    font-size: 30px;
}
#feature01{
    background-color: #295FB7;
    color:white;
    padding:5px 3px;
    border: #295FB7;
}
.feature50{
    height:365px;
    width:310px;

}

.feature1:hover .feature2{
    display: block;
    position: absolute;
    margin-left: 100px;
   

}

.view{
    background-color:#2455A9;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    border: 0px;

}
.feature2{
    color: white;
    text-align: center;
    padding-top: 80px;
    display: none;
    position: relative;
    margin-top: -350px;
}
.feature{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-left: 120px;
}
.arrows{
    padding-left:580px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.more{
    color:#295FB7;
    text-align: center;
    font-size: 20px;
}
.img img{
    width:100%;
    height:700px;
    filter:brightness(0.5);
}
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
} 
div.logos{
    position: absolute;
    top:315px;
    left: 65px;
}
.logos2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
} 
div.logos2{
    position: absolute;
    top:475px;
    left: 65px;
}
.fx{
    display: flex;
    justify-content: space-evenly;
}
.question{
    position: relative;
}
div.fx{
    position: absolute;
    top: 110px;
    left: 115px;
    color: white;
}
.qus{
    margin-left: 150px;
    color:#295FB7;
    width: 350px;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.qus h1{
    text-align: center;
}
.help h1{
    font-size: 40px;
}
.help p{
    font-size: 12px;
    padding-left: 40px;
}
.contact{
    height:50px;
    width:320px;
    padding-left: 20px;
    margin-top: 30px;
    background-color: rgb(215, 212, 212) ;
    border: none;
    outline: none;
 }
 .contact-inputs{
    height:140px;
    padding-top: 20px;
    padding-left: 20px;
    width:320px;
    margin-top: 30px;
    background-color: rgb(215, 212, 212) ;
    border: none;
    outline: none;
 }.send button{
    width:340px;
    height: 50px;
    background-color: #295FB7;
    margin-top: 20px;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:none;
}
.email p{
    padding-right: 110px;
}
.enter p{
    padding-right: 110px;
    padding-bottom: 90px;
}


.bar{
    display:grid;
    grid-template-columns:450px 700px;
    padding-left: 80px;
}
.bar2{
    text-align: center;
}
.button{
    background-color: #295FB7;
    color: white;
    padding:5px 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width:500px){
    *{
        margin:0;
        padding:0;
        font-family: Arial;
    }
    .main{
        height: 50px;
        padding:0;
    }
    .navbar{
        display:grid;
        grid-template-columns:1fr 3fr 2fr; 
        height:30px;
        /* align-items:center; */
        padding-top: 10px;
        padding-left: 10px;
        font-size: 8px;
    }
    .home{
        display: flex;
        justify-content: space-evenly;
    }
    .signup{
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 8px;
    }
    .signin{
        border: none;
        color: white;
        background-color:#295FB7 ;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 8px;
    }
    .head10 img{
        width:440px;
        height:600px;
        position:relative;
    }
    .header3{
        font-size:28px;
        position:absolute; 
        color:white;
        transform: translate(-50%,-50%);
        left:50%;
        top:35%;
    } 
    #header3{
        font-size: 10px;
        color:white;
        position: absolute;
        transform: translate(-50%,-50%);
        left:50%;
        top:60%;
    } 
    .header0{
        display:flex;
        flex-direction: row;
        font-size: 8px;
        background-color: white;
        color:black;
        position: absolute;
        transform: translate(-50%,-50%);
        left:28%;
        top:80%; 
        padding-left:220px;
        padding-top:20px;
    }
    .header5{
        padding-left:2px;
    }
    .header4{
        padding-left: 0px;
    }
    .header6{
        padding-left: 8px;
    }
    .header7{
        padding-left: 8px;
    }
    .header8{
        padding-left: 8px;
    }
    .header9{
        padding-left: 8px;
    }
    .header10{
        padding-left:8px;
    }
    #city{
        color:#757575;
        padding-bottom: 5px;
        font-size: 8px;
    }
    #property{
        color:#757575;
        font-size: 8px;
    }
    #price{
        font-size: 8px;
    }
    #header50,#header51,#header52{
        padding-left:0px;
       padding-top:5px;
    }
    #header53{
        padding-left:2px;
        padding-top:8px;
        padding-right:2px; 
    }
    .header9{
        display:flex;
        flex-direction: row;
        position: absolute;
        transform: translate(-50%,-50%);
        left:40%;
        top:100%;
    }
    #header12{
        position: absolute;
        transform: translate(-50%,-50%);
        top:54%;
        left:20%;
    }
    .header11{
        position: absolute;
        transform: translate(-50%,-50%);
        top:29%;
        left:20%;
    }
    .header14{
        position: absolute;
        transform: translate(-50%,-50%);
        left:55%;
        top:29%;
    }
    #header15{
        position: absolute;
        transform: translate(-50%,-50%);
        top:55%;
        left:55%;
    }
    .header13{
        padding-left: 10px;
    }
    .header16{
        padding-left: 10px;
    }
    .header17{
        position: absolute;
        transform: translate(-50%,-50%);
        left:85%;
        top:30%;
    }
    #header18{
        position: absolute;
        transform: translate(-50%,-50%);
        left:85%;
        top:57%;
    }
    .header19{
        font-size: 40px;
        color:#295FB7;
        text-align: center;
    }
    .header20{
        text-align: center;
        font-size: 30px;
    }
    .header{
        background-color: #ECF4FD;
    }
    .header21{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        padding-bottom: 40px;
    }
    .header22{
        padding-left: 40px;
        padding-top: 40px;
        background-color: white;
      
        
    }
    .header22:hover,.header25:hover,.header28:hover{
        background-color: #295FB7;
        background-color: #25356A;
        color:white;
    }
    #header22,#header25,#header28{
        padding-top: 5px;
        padding-left:140px;
    }
    .header28,.header25{
        background-color: white;
        padding-left: 20px;
        padding-top: 40px;
    }
    .header23,.header26,.header29{
       text-align: center;
       font-size: 20px;
       padding-top: 15px;
       padding-right:50px ;
    }
    .header24,.header27,.header30{
        font-size: 15px;
        padding-right: 50px;
        padding-bottom: 60px;
        padding-left: 50px;
    }
    .best4:hover,.best6:hover,.best8:hover,.best10:hover,.best12:hover,.best14:hover{
        background-color: #295FB7;
        background-color: #25356A;
        color:white;
    }
    .best1{
        font-size: 40px;
        color:#295FB7;
        text-align: center;
    }
    .best2{
        text-align: center;
        font-size: 30px;
    }
    .best3{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
    
    }
    .best4,.best8{
        background-color: #ECF4FD;
    }
     .best6{
        background-color: #ECF4FD;
        color:black;
    } 
    .best5,.best7,.best9{
        padding-left:15px;
        padding-top: 15px;
        padding-right: 15px;
    }
    #idr{
        font-size: 30px;
        padding-left: 15px;
    }
    .p{
        font-size: 15px;
        padding-left: 15px;
    }
    .sell{
        padding-left: 15px;
        color:#FFAC33;
    }
    .best50{
        display: flex;
        flex-direction:row;
        padding-bottom: 15px;
    }
    .best51{
        padding-left: 15px;
        padding-top: 10px;
    }
    .best52{
        padding-left: 80px;
        padding-top: 10px;
    }
    .best53{
        padding-left:80px;
        padding-top: 10px;
    }
    .best9{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
    }
    .best10,.best12,.best14{
        background-color: #ECF4FD;
    }
    .best11,.best13,.best15{
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .feature02{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left:150px;
        padding-right: 60px;
        color:#295FB7;
        font-size: 30px;
    }
    #feature01{
        background-color: #295FB7;
        color:white;
        padding:3px 2px;
        border: #295FB7;
    }
    .feature50{
        height:300px;
        width:250px;
    
    }
    
    .feature1:hover .feature2{
        display: block;
        position: absolute;
        margin-left: 60px;
       
    
    }
    
    .view{
        background-color:#2455A9;
        color: white;
        text-align: center;
        height: 30px;
        width: 100px;
        border: 0px;
    
    }
    .feature2{
        color: white;
        text-align: center;
        padding-top: 80px;
        display: none;
        position: relative;
        margin-top: -350px;
    }
    .feature{
        display: flex;
        flex-direction: column;
        padding-left:-50px;
        padding-right: 50px;
    }
    .arrows{
        padding-left:200px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .more{
        color:#295FB7;
        text-align: center;
        font-size: 20px;
    }
    .img img{
        width: 480px;
        height: 600px;
        padding-left: 0px;
        filter: brightness(0.5);
    }
    .logos{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    } 
    div.logos{
        position: absolute;
        top:315px;
        left: 65px;
    }
    .logos2{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    } 
    div.logos2{
        position: absolute;
        top:475px;
        left: 65px;
    }
    .img img {
        width: 100%;
        height: 1000px;
        padding-left: 0px;
        filter: brightness(0.5);
      }
    
      .logos {
        display: flex;
        flex-direction: column;
        row-gap: 17px;
      }
    
      div.logos {
        position: absolute;
        top: 254px;
        left: 20px;
      }
    
      .logos2 {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
      }
    
      div.logos2 {
        position: absolute;
        top: 415px;
        left: 20px;
      }
      .help h4{
        font-size: 20px;
      }
    
      .fx {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: space-evenly;
        padding: 20px;
      }
    
      .question {
        position: relative;
      }
    
      div.fx {
        position: absolute;
        top: 50px;
        left: 20px;
        color: white;
      }
    
      .qus {
        margin-left: 20px;
        color: #295FB7;
        width: 320px;height: 360px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
    
      .qus h1 {
        text-align: center;
      }
    
      .help h1 {
        font-size: 30px;
        text-align: center;
        padding-left:50px;
      }
    
      .help p {
        font-size: 14px;
        padding-left: 30px;
      }
    
      .contact {
        height: 40px;
        width: 300px;
        padding-left: 20px;
        margin-top: 40px;
        background-color: rgb(215, 212, 212);
        border: none;
        outline: none;
      }
    
      .contact-inputs {
        height: 100px;
        padding-top: 20px;
        padding-left: 20px;
        width: 300px;
        margin-top: 20px;
        background-color: rgb(215, 212, 212);
        border: none;
        outline: none;
      }
    
      .send button {
        width: 100%;
        height: 40px;
        background-color: #295FB7;
        margin-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
      }
    
      .email p {
        padding-right: 20px;
      }
    
      .enter p {
        padding-right: 20px;
        padding-bottom: 20px;
      }

    .bar{
        display:grid;
        grid-template-columns:1fr;
        padding-left: 80px;
        padding-right: 20px;
    }
    .bar2{
        padding-left: 60px;
        padding-right: 60px;
    }
    .button{
        background-color: #295FB7;
        color: white;
        padding:5px 5px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
